################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/3b0f0619-0ad6-4be9-8ef4-480204fa11f1.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/3b66146d-8b45-4118-b733-556cee2fa2ff.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/4d54b9ef-35cb-4d7b-b1b6-d3cf12066222.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/65e71b08-9c4a-4ab8-9970-235fa686e79b.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/94758e18-24e1-468b-b783-2764ebb6819a.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/b1be4a57-5c86-4c7d-8ce7-1a06f5600717.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/b98365e7-2146-4cc7-95da-bd0f5a1f3712.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/fbd8d04e-b8e3-4273-bfee-68345066c1ab.vsidx
/SoftverskaRealizacijaBackend/.vs/ProjectEvaluation/softverskarealizacijabackend.metadata.v7.bin
/SoftverskaRealizacijaBackend/.vs/ProjectEvaluation/softverskarealizacijabackend.projects.v7.bin
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/DesignTimeBuild/.dtbcache.v2
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/v17/.futdcache.v2
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/v17/.suo
*.vsidx
/SoftverskaRealizacijaBackend/.vs/SoftverskaRealizacijaBackend/FileContentIndex/f3b52e90-a7c1-49ea-8786-34d6e9f7fc47.vsidx
